<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Licence Config-->
    <add key="LicenceServerTimeZoneId" value="Pacific Standard Time" />
    <add key="DestinationTimeZoneId" value="AUS Eastern Standard Time" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="23:00:00" processPath=".\Nop.Web.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600"></aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
	<rewrite>
      <rules>
		 <rule name="HTTPS rewrite behind AWS Electric Load Balancer rule" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="Found" />
                </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 4f1f649c-1020-45be-a487-f416d9297ff3-->